<div class="container">

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <% if !current_user %>
        <div class= "signin-form">
          <form class="form-inline" action="/sessions" method="post">
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon">
                  <span class="fa fa-envelope-o fa-fw" aria-hidden="true"></span>
                </span>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">

          </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="fa fa-key fa-fw" aria-hidden="true"></span>
                </span>
              <input type="password" name="password" class="form-control" id="signin-password" placeholder="Password">
            </div>
            <%= partial :flash %>
              <button type="submit" class="btn btn-lg btn-block" id="signin-button" value="Sign in"> Sign in</button>
          </form>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>



<div class="container">
  <div id="spaces-title"><h4> Spaces </h4></div>
  <br>
  <div class="row">
      <div id="spaces-title"></div>
      <div class="card-deck">
        <% @spaces.each do |space| %>
        <div class="col-md-4 col-xs-12">
          <div class="card mb-3" style="height: 32rem;">
            <img class="img-fluid" src=<%= space.img_url %> alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title"><%= space.name %></h4>
              <p class="card-text"><%= space.description %></p>
              <p class="card-text"><small class="text-muted">£<%= space.price %> per night</small></p>
            </div>
            <% if current_user %>
                <form class="request-form" action='/spaces/rent' method="post">
                  <div class="input-group date" id="date_picker" data-date-start-date= <% space.start_date.strftime("%d/%m/%Y") %> data-date-end-date= <% space.end_date.strftime("%d/%m/%Y") %> data-provide="datepicker">
                    <input type="text" name="request_date" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-lg btn-block" id="request-button" name="rented_space_id" value="<%= space.id %>">Request Space</button>
                </form>
            <% end %>
          </div>
        </div>
        <% end %>
        <br>
    </div>
  </div>
</div>
