<div class="container">
  <h3> These are your current requests for your listing. </h3>
  <div class ="row">
    <div class = "card-deck">
      <div class="card">
        <img class="card-img-top" src="http://i.imgur.com/cujYuIh.jpg" alt="Card image cap" style="width:350px; height:243px; vertical-align:middle; display:inline;">
          <div class="card-block">
            <h4 class="card-title"><%= @space.name %></h4>
            <p class="card-text"><%= @space.description %></p>
            <p class="card-text"><%= @space.price%></p>
            <% if @viewable_reqs != nil%>
              <ul id='viewable requests'>
                <% @viewable_reqs.each do |req| %>
                  <p class="card-text">User: <%= User.get(req.user_id).username %></p>
                  <p class="card-text">Date requested: <%= req.request_date %> </p>
                  <form class="change-status" action="/request" method="post">
                    <input type='hidden' name='req_id' value="<%= req.id %>">
                    <button type="submit" class="btn btn-lg" id="approve" name="status" value="Approved">Approve</button>
                    <button type="submit" class="btn btn-lg" id="reject" name="status" value="Rejected">Reject</button>
                  </form>
                <br>
                <% end %>
              </ul>
            <% else %>
              None yet!
            <% end %>
         </div>
     </div>
    </div>
  </div>
</div>
