<% if current_user %>
  <br>
  <br>
  <h3>Your listings:</h3>
    <% if @listed_spaces != nil%>
      <ul id='listed spaces'>
        <% @listed_spaces.each do |space| %>
        <li>
          <%= space.name %>
          <br>
          <%= space.description %>
          <br>
          <%= space.price %>
          <br>
          From <%= space.start_date %> to <%= space.end_date %>
          <br>
          <% space_reqs = Request.all(space_id: space.id) %>
          <% @pending_space_reqs = space_reqs.all(status: 'Pending') %>
          <% if @pending_space_reqs != [] %>
          <form class="view-requests" action="/spaces/view_requests" method="post">
            <button type="submit" class="btn btn-lg" id="view_requests" name="space_id" value="<%= space.id %>">View Requests</button>
          </form>
          <% end %>
        </li>
        <br>
        <% end %>
      </ul>
    <% else %>
      None yet!
    <% end %>

    <h3>Your pending requests:</h3>
    <ul id='requests'>
      <% @pending_reqs.each do |req| %>
      <li>
        <%= Space.get(req.space_id).user.username %>
        <br>
        <%= Space.get(req.space_id).name %>
        <!-- should have worked with req.space.name but it doesn't! -->
        <br>
        <%= Space.get(req.space_id).description %>
        <br>
        <%= Space.get(req.space_id).price %>
        <br>
        <%= req.request_date %>
      </li>
      <br>
      <% end %>
    </ul>

  <h3>Your rentals:</h3>
    <% if @accepted_reqs != nil%>
      <ul id='rented spaces'>
        <% @accepted_reqs.each do |req| %>
        <li>
          You have booked:
          <%= Space.get(req.space_id).name %>
          <br>
          <%= Space.get(req.space_id).description %>
          <br>
          <%= Space.get(req.space_id).price %>
          <br>
          <%= req.request_date %>
        </li>
        <br>
        <% end %>
      </ul>
    <% else %>
      None yet!
    <% end %>



<% end %>
