<% if current_user %>
  <div class="container">
    <h3>Your listings:</h3>
    <div class="row">
      <div class="card-deck">
        <% if @listed_spaces != nil%>
        <div id='listed-spaces'></div>
          <% @listed_spaces.each do |space| %>
            <div class="card" style="width:400px;">
              <img class="card-img-top" src="http://i.imgur.com/cujYuIh.jpg" alt="Card image cap" style="width:350px; height:243px; vertical-align:middle; display:inline;">
                <div class="card-block">
                    <h4 class="card-title"><%= space.name %></h4>
                    <p class="card-text"><%= space.description %></p>
                    <p class="card-text"><%= space.price%></p>
                    <p class="card-text"><small class="text-muted"> From <%= space.start_date %> to <%= space.end_date %></small></p>
                    <form class="view-requests" action="/spaces/view_requests" method="post">
                      <button type="submit" class="btn btn-lg" id="rent-button" name="space_id" value="<%= space.id %>">View Requests</button>
                    </form>
                  </div>
                </div>
                <br>
                  <% end %>
                    <% else %>
                    None yet!
            <% end %>
      </div>
      </div>
    </div>

    <div class="container">
      <h3>Your pending requests:</h3>
      <div class="row">
        <div class="card-deck">
          <div id='requests'></div>
            <% @pending_reqs.each do |req| %>
              <div class="card">
                <img class="card-img-top" src="http://i.imgur.com/cujYuIh.jpg" alt="Card image cap" style="width:350px; height:243px; vertical-align:middle; display:inline;">
                  <div class="card-block">

                      You have booked:
                      <h4 class="card-title"><%= Space.get(req.space_id).user.username %></h4>
                      <p class="card-text"><%= Space.get(req.space_id).name %></p>
                      <!-- should have worked with req.space.name but it doesn't! -->
                      <p class="card-text"><%= Space.get(req.space_id).description %></p>
                      <p class="card-text"><%= Space.get(req.space_id).price %></p>
                      <p class="card-text">Requested Date: <%= req.request_date %></p>

                  </div>
              </div>
              <br>
              <% end %>
            </div>
            <br>
        </div>
      </div>

    <div class="container">
      <h3>Your rentals:</h3>
      <div class="row">
        <div class="card-deck">
        <% if @accepted_reqs != nil%>
          <div id='rented spaces'></div>
            <% @accepted_reqs.each do |req| %>
              <div class="card">
                <img class="card-img-top" src="http://i.imgur.com/cujYuIh.jpg" alt="Card image cap" style="width:350px; height:243px; vertical-align:middle; display:inline;">
                  <div class="card-block">

                      You have booked:
                      <h4 class="card-title"><%= Space.get(req.space_id).name %></h4>
                      <p class="card-text"><%= Space.get(req.space_id).description %></p>
                      <p class="card-text"><%= Space.get(req.space_id).price %></p>
                      <p class="card-text"><%= req.request_date %></p>
                    <% if current_user %>
                      <form class="space-from" action='/space/:space_id' method="get">
                        <button type="submit" class="btn btn-lg" id="rent-button" name="see_space_id" value="Rented property">View your rental</button>
                      </form>
                      <% else %>
                      None yet!
                    <% end %>
                    <br>
                  </div>
              </div>
              <% end %>
            </div>
            <br>
          <% end %>
        </div>
      </div>
<% end %>
